@charset "utf-8";
@import url("fonts.css");
body {
    /*padding: 0%;*/
    /*margin-top: 0%;*/
    /*margin-bottom: 0%;*/
    /*margin-left: 0.5%;*/
    /*margin-right: 0.5%;*/
    /*line-height: 130%;*/
    /*text-align: justify;*/
    /*font-family: "DK-SONGTI", "st", "宋体", "zw", sans-serif;*/
    background:url(../Images/068.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% 100%;
}

p {
  text-align: justify;
  text-indent: 2em;
  duokan-text-indent: 2em;
  line-height: 130%;
  margin-right: 0.5%;
  margin-left: 0.5%;
/*声明 p 标签的字体*/
  font-family: "fzkt";
}

div {
  margin: 0;
  padding: 0;
  line-height: 130%;
  text-align: justify;
/*font-family: "zw";*/
}

a {
  text-decoration: none;
  color: inherit;
}

ol {
  padding-inline-start: 0em;
}

/* Top Image */
div.logo {
/*margin-top: 0em;*/
/*text-align: center;*/
/*text-indent: 0em;*/
/*duokan-text-indent: 0em;*/
/*duokan-bleed: lefttopright;*/
  margin: 0;
  text-align: center;
}

img.logo {
  width: 100%;
}

/* Chapter Title */
h2.head {
  font-family: "bbt";
  font-size: 1.0em;
  color: #188e8c;
  text-align: center;
  line-height: 130%;
  padding: 0 4px 0 4px;
  margin: -10% 0em 2em 0em;
/*font-family: "zdy4";*/
}

span.num {
/*font-family: "zdy4";*/
/*padding: 2px 4px 2px 4px;*/
/*color: #b50a02;*/
/*font-size: x-small;*/
/*text-align: center;*/
/*background-color: #0d335d;*/
  color: #0d335d;
  font-size: 0.66667em;
/*padding: 0.15em 0.3em 0.15em 0.3em;*/
/*border-radius: 5px 5px 5px 5px;*/
}

/* Brief Introduction */
/* Version */
/* Copyright */
/* Copyright Icon */
/* Pinyin */
/*------------------ 注音 开始 ------------------*/
/*汉仪新人文宋*/
@font-face {
  font-family: "汉仪新人文宋";
/*定义字体名称*/
  src: url("../Fonts/HanYiXinRenWenSong.ttf");
/*链接字体资源*/
}

/*------------------ 注音 结束 ------------------*/
/*版权信息正常*/
/*制作说明页*/
/*全面屏*/
body.qmp0000 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/003.webp');
}

body.qmp00 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/004.webp');
}

body.qmp0 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/011.webp');
}

body.qmp2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/018.webp');
}

body.qmp5 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/007.webp');
}

body.qmp6 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/008.webp');
}

body.qmp7 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/009.webp');
}

body.qmp8 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/010.webp');
}

body.qmp9 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/012.webp');
}

body.qmp10 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/013.webp');
}

body.qmp11 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/014.webp');
}

body.qmp12 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/015.webp');
}

body.qmp13 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/016.webp');
}

body.qmp14 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
/*图片定位*/
/*center*/
/*bottom center*/
/*top center*/
  background-image: url('../Images/017.webp');
}

body.head {
  background: #ffffff url(../Images/005.webp) no-repeat center;
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}

body.head2 {
  background: #ffffff url(../Images/006.webp) no-repeat center;
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}

table.vol-title {
  margin: 20% 0 0 auto;
  color: #000000;
}

td.vol-title-name {
  width: 1.2em;
  vertical-align: top;
  padding: 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-size: 1.4em;
/*font-family: "zdy1";*/
}

td.vol-title-number {
  width: 1.2em;
  vertical-align: top;
  padding: 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-size: 0.9em;
/*font-family: "zdy1";*/
  color: #b50a02;
}

p.vol-text {
  text-align: right;
  text-indent: 0;
  duokan-text-indent: 0;
/*font-family: "zdy3";*/
  font-size: 0.9em;
  color: #4e468f;
  text-shadow: 0.5px 0.5px 0 white;
}

p.vol-text .s1 {
  border-style: solid;
  border-color: #4e468f;
  border-width: 0.05em 0 0 0;
  padding: 0.2em 0 0 0;
}

p.vol-text .s2 {
  border-style: solid;
  border-color: #4e468f;
  border-width: 0 0 0.05em 0;
  padding: 0 0 0.2em 0;
}

/*---------------- delimiter 段落分割 开始 ----------------*/
div.delimiter {
  text-align: center;
  padding: 1.2em;
}

/*---------------- delimiter 段落分割 结束 ----------------*/
/*-------------------- 注解相关 开始 --------------------*/
a.duokan-footnote img {
  width: .8em;
  vertical-align: top;
}

/*注解最上方的分割线*/
ol.duokan-footnote-content {
/*padding: 0 auto;*/
/*text-align: left;*/
/*border     : 0px dashed #C108C3;*/
  border: 1px dashed #66BBCC;
  margin: 1em 1em 0.5em 1em;
  padding: 5px !important;
/*浅绿色边界阴影*/
  box-shadow: 0 0 1em #188e8c;
/*浅灰色边界阴影*/
/*box-shadow: 0 0 1em #aaaaaa;*/
  clear: both;
}

li.duokan-footnote-item {
  list-style-type: none;
  font-size: 1em;
  line-height: 130%;
  margin-bottom: 0;
  padding: 0 0;
}

li.duokan-footnote-item a {
/*------------------------ 汉仪小隶书 开始 ------------------------*/
  font-family: "qt";
/*------------------------ 汉仪小隶书 结束 ------------------------*/
  text-align: left;
  color: red;
  padding-right: 0.2em;
  text-indent: 0em;
}

a.duokan-footnote {
  height: 1.2em;
  margin: 0;
  line-height: 1.2em;
}



/*❗注意：如果在注释内容中需要使用 <p> 标签，那么需要重置以下 <p> 的样式：*/
li.duokan-footnote-item p {
  font-family: "qt";
  font-size: 0.8em;
  duokan-text-indent:0em;
  text-indent: 0em;
}

/*-------------------- 注解相关 结束 --------------------*/
/*---------------- 马克笔 开始 ----------------*/
.mark_maker {
    /*background-color: #EDDBC2;*/
    /*background-color: #fbde54;*/
    font-family: "fzkt";
    /*font-weight: bold;*/
    color: #910d00;
    font-size: 1em;
}

/*---------------- 马克笔 结束 ----------------*/
/** 多看画廊模式-容器 **/
b {
  font-size: 0.95em;
  color: teal;
  font-weight: bold;
}

/** 多看画廊模式-框架 **/
/** 多看画廊模式-容器 **/
/** 多看图题（所有多看图都支持） **/
/** 多看图注（所有多看图都支持）**/
/*----------------  下划线 效果 开始 ----------------*/
/*---------------- 下划线 效果 结束 ----------------*/
span.zhuyin {
  font-family: "aspy";
  font-size: .8em;
  color: #910d00;
}

.poem {
    text-align: center;
    font-size: 0.8em;
    font-family: "qt";
}